.page {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
}

.page__header {
  max-width: 1124px;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 72px;
  margin: 0 auto 0 auto;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__content {
  box-sizing: border-box;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 964px;
  width: 100%;

}

.logo {
  height: 12px;
  width: 120px;
  object-fit: cover;
  border-radius: 0px;

}

.header__basket-enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;

}

.header__enter {
  width: 78px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  background-color: #ffff;
}

.header__enter:hover {
  background-color: #59BD5A;
  color: #ffff;
}

.header__basket {
  height: 22px;
  width: 19px;
}

.header__basket:hover {
  box-shadow: 1px 5px 10px #59BD5A;
}

.search__form {
  max-width: 962px;
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: end;
  margin: 32px auto 0 auto;
  border-bottom: 1px solid #757575;
  opacity: 0.5;
}

.seacrh__item {
  max-width: 400px;
  width: 100%;
  border-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.79px;
  text-align: left;
  color: #626262;
}

.seacrh__item:focus {
  outline-color: #59BD5A;
  outline-style: solid;
  outline-width: 3px;
}

.restrons {
  margin: 56px auto;
  max-width: 962px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 43px;
}

.restrons__cards {
  max-width: 962px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  gap: 36px 10px;
}

.restron__card:hover {
  transform: scale(1.015);
  transition: 0.5s;
  background-color: #F2F2F2;
  opacity: 0.8;
  box-shadow: 0px 0px 10px #59BD5A;

}

.restrons__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1.44px;
  text-align: left;
  color: #1D1D1D;
}

.restron__name {
  margin: 12px auto 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1D1D1D;
  letter-spacing: 0.4px;
}

.restron__menu {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #626262;
  margin: 4px auto 0 0;
}

.restron__time-prepare {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
  margin: 4px auto 0 0;
}

.restron__foto {
  height: 256px;
  width: 308px;

}

.footer {
  background-color: #262626;
  position: relative;
}

.footer__logo-space {
  box-sizing: border-box;
  border-bottom: 1px solid #ffff;
  max-width: 956px;
  width: 100%;
  padding: 56px 0 36px 0;
  margin: 0 auto;
}

.footer__logo {
  width: 191px;
  height: 20px;
  object-fit: cover;
}

.footer__navs-one {
  max-width: 962px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px 0 48px 0;
  display: flex;
  border-bottom: 1px solid #ffff;
}

.select {
  width: 227px;
  height: 40px;
  background: #3B3B3B;
  border-radius: 2px;
  color: #ffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.footer__social {
  display: flex;
  color: #ffff;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 15px;
  max-width: 226px;
  width: 100%;
  margin: 0;
}

.social__slesh {
  color: #49A144;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.social__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.9px;
  margin: 0;
}

.footer__icons {
  display: flex;
  gap: 10px;
  max-width: 226px;
  width: 100%;
}

.footer__list-links {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding-left: 98px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 5px;
  padding-right: 33px;


}

.footer__list-link {
  text-decoration: none;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.7px;

}
.footer__navs-two {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffff;
  max-width: 962px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 38px 0;
}
.footer__store {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;

}
.footer__navs-three {
  max-width: 962px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 40px 0;
  box-sizing: border-box;
}
.footer__list-links_block {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 810px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.btn__up {
  position: absolute;
  background-image: url('./img/btn-up.png');
  background-size: cover;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 24px;
  height: 80px;
  width: 80px;
  border: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 38, 38, 0.5);

}

.popup_open {
  display: flex;
}

.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(87, 173, 86, 0.95);
  border-radius: 10px;
  box-shadow: 0px 0px 45px 30px #262626;
  padding: 20px 30px 20px 30px;
  justify-content: center;
  align-items: center;
}

.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: start;

}



.popup__element {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 12px;
}
.popup__elements {
  border: 0;
  max-width: 358px;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin: 0;
  padding-bottom: 20px;

}
.popup__close {
  position: absolute;
  background-image: url('./img/CloseIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .001);
  padding: 0;
  height: 32px;
  margin: 0;
  right: -40px;
  top: -40px;
  transition: .5s ease-in-out;
}
.popup__close:hover {
  opacity: 0.5;
}

.popup__btn-save {
  height: 50px;
  padding: 0;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.popup__btn-save:hover {
  opacity: 0.5;
}
.popup__form {
  max-width: 358px;
  width: 100%;
  margin-top: 35px;
}
