.popup__close {
  position: absolute;
  background-image: url('./img/CloseIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .001);
  padding: 0;
  height: 32px;
  margin: 0;
  right: -40px;
  top: -40px;
  transition: .5s ease-in-out;
}
.popup__close:hover {
  opacity: 0.5;
}